extends layout

block content
  body(class='main')
    nav(id='singlepost-nav')  
      ul
        li
          a(href='/')
            img(src='images/logo.png' id='centered-logo')
        li
          button(class='back-btn' onclick='goBack()' type='button') <-- Back
    h1 $#{post.price}/MO | #{post.title}
    p Posted: #{postedDate}
      
    div(class='description')
      p 
        em Description: 
        | #{post.description}
      
    div(id='map')
    
    //- Needs to be in order of button -> div for the hideshow(e) to work
    button(onClick='hideShow(event)' class='contact-button') Contact 
    div(class='hideshow')
      p Contact: #{post.fullName}
      p #{post.email}
      if post.phone
        p #{post.phone}
        
    //- Needs to be in order of button -> div for the hideshow(e) to work
    if post.addressLine1
      button(onclick='hideShow(event)' class='contact-button') Show address
      div(class='hideshow')
        p #{post.addressLine1}
        p #{post.addressLine2}
        p #{post.city + ', ' + post.stateProvinceRegion + ' ' + post.zipOrPostal}
    div(class='footer')
      include includes/footer.pug
    if post.spotLonLat
      script.
            var map = new ol.Map({
            target: 'map',
            layers: [
            new ol.layer.Tile({
            source: new ol.source.OSM()
            })
            ],
            view: new ol.View({
            center: ol.proj.fromLonLat(#{post.spotLonLat}),
            zoom: 13
            })
            });
            
            var vectorLayer = new ol.layer.Vector({
            source: new ol.source.Vector({
            features: [new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.fromLonLat(#{post.spotLonLat}))
            })]
            }),
            style: new ol.style.Style({
            image: new ol.style.Icon({
            crossOrigin: 'anonymous',
            anchor: [0.5, 0.9],
            anchorXUnits: "fraction",
            anchorYUnits: "fraction", 
            src: "images/map-pin.png", 
            })
            })
            });
            map.addLayer(vectorLayer);
    if post.zipLonLat
      script.
            var map = new ol.Map({
            target: 'map',
            layers: [
            new ol.layer.Tile({
            source: new ol.source.OSM()
            })
            ],
            view: new ol.View({
            center: ol.proj.fromLonLat(#{post.zipLonLat}),
            zoom: 13
            })
            });
    script.
      function goBack() {
      window.history.back();
      }
    
          
        
